@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ruge+Boogie&display=swap");

@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-accent: #ff5f1f;
  --color-muted: #4a2411;
  --color-text: #ffffff;
  --color-description: #a1a1aa;
  --color-bgdark: #140d0a;
  --animate-blob-float: blobFloat2 10s infinite;
  --font-family-display: "Inter", sans-serif;
  --font-family-rugi: "Ruge Boogie", cursive;
}

.text-glow {
  text-shadow: 0 0 20px rgba(236, 91, 19, 0.3);
}

.liquid-glass {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(20px) saturate(200%);
  -webkit-backdrop-filter: blur(20px) saturate(200%);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-bottom: 1px solid rgba(255, 95, 31, 0.15);
  box-shadow:
    0 8px 32px 0 rgba(0, 0, 0, 0.37),
    0 1px 0 0 rgba(255, 95, 31, 0.1);
  transition:
    backdrop-filter 0.3s ease,
    background 0.3s ease;
}
.liquid-special {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(20px) saturate(200%);
  -webkit-backdrop-filter: blur(20px) saturate(200%);
  box-shadow:
    0 8px 32px 0 rgba(0, 0, 0, 0.37),
    0 1px 0 0 rgba(255, 95, 31, 0.1);
  transition:
    backdrop-filter 0.3s ease,
    background 0.3s ease;
}

.liquid-bg {
  background:
    radial-gradient(circle at 0% 0%, #3a2218 0%, transparent 50%),
    radial-gradient(circle at 100% 100%, #2b1a12 0%, transparent 50%),
    radial-gradient(circle at 50% 50%, #221610 0%, #1a100a 100%);
}

@keyframes blobFloat2 {
  0%,
  100% {
    translate: rotate(45)
    
    
  }
  50% {
    transform: rotate(45)
  }
}
input[type="date"]::-webkit-calendar-picker-indicator {
  margin-left: 20px; 
  cursor: pointer;
  filter: invert(
    0.5
  );
}
